/* Univeral Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
    line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* Header Section */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  background-color: cadetblue;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.banner {
  display: inline-block;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  background-color: white;
  margin-right: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

header .flex-container {
  display: flex;
  justify-content: flex-end;
}

.icon {
display: flex;
justify-content: space-evenly;
margin-top: 3rem;
padding: 0 13rem;
}

.icon img {
  width: 100%;
  margin-right: 6rem;
}

.icon .paper {
  width: 3.5rem;
}

.icon .ruler {
  width: 6rem;
}

.icon .truck {
  width: 4rem;
}

.icon span {
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
}

.information {
  display: flex;
  justify-content: space-around;
  height: 8rem;
  margin-top: 3rem;
  margin-right: 6rem;
}

.info span {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-top: 3rem;
}

.info p {
  margin-top: 1rem;
}

footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}


@media only screen and (max-width: 1024px) {
  .header {
    height: 22rem;
}

 .banner {
   margin-top: 5rem;
   margin-right: 2rem;
   padding: 0.75rem 4rem;
 }

 h1 {
   font-size: 1.33rem;
 }
}

@media only screen and (max-width: 470px) {
  .header {
    height: 17rem;
    background-position: 20%;
  }

  .banner {
    padding: 1rem 0;
  }

  h1 {
    font-size: 1rem;
    margin: 0 auto;
  }

  .info p {
    font-size: 0.77rem;
  }
}
